/* Dodatkowe style, które nie są w Pico.css */
#total-summary-container {
    margin-top: 2rem;
    border: 2px solid var(--primary);
    padding: 1.5rem;
    border-radius: var(--border-radius);
}

#total-summary-container h2 {
    margin-top: 0;
}

.result-item {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid var(--muted-border-color);
    border-radius: var(--border-radius);
}
